@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');

.card-grid {
    display: block;
}

section.col-grid {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
    height: 2000px;
    gap: 20px;
    
}


